html{
	height: 100%;
}

body{
	background-color: rgba(0, 80, 66, 1);
	font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	margin-right:0;
	margin-left:0;
	width: 1200px;
    margin: auto;
}

.content{
	background-color: #FFFFFF;
	/*margin-top: 1cm;*/
}

img.logo{
	padding-top: 0.3cm !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.quarters{
	margin-top: 60px;
}

.first_row{
	margin-bottom: 20px;
	/*width: 1000px;*/
	
}

.map{
	margin-left: 50px;
	float: left;
	width: 700px;
}

.parts_list{
	float: right;
	padding-right: 50px;
	width: 350px;
}

.clear{
	clear: both;
}

.butthorn{
	float: top;
}

.grid{
	/*float: right;*/
}

.robot-part-descriptor{
	margin:0;
}



h1 {
    font-size: 15px;
    font-weight: 700;
}

h2 {
    font-size: 13px;
    font-weight: 600;
}

a {
    color: inherit;
    font-weight: 650;
}

a:hover, a:active {
    font-weight: 800;
}

a:visited {
    color: #777;
}

.robot-cell, .tool-box-cell{
	width:70px;
	height:70px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	text-align: center;
	vertical-align: center;
}

img.robot-part{
	vertical-align: center;
}

#victory-screen
{
    text-align:center;
}
#instructions
{
    margin:auto;
    width:800px;
    text-indent:50px;
}