html{
	height: 100%;
}

body{
	/*background-color: rgba(0, 80, 66, 0.9);*/
	background-image: url('old_mathematics.png');
	background-repeat: repeat;
	font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	margin-right:0;
	margin-left:0;
	width: 1200px;
    margin: auto;
}

.content{
	
    /*background-color: rgba(0, 80, 66, 0.5);

	background-image: 'PI_hackathon\old_mathematics.png';
	background-repeat: repeat;
	/*margin-top: 1cm;*/
}

img.logo{
	padding-top: 0.5cm !important;
	padding-bottom: 0.5cm !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cr-stage{
	width: 700px;
}

#cr-stage-container
{
	margin-left: 50px;
	float: left;
	margin-bottom:0 !important;
}

.parts_list{
	float: right;
	padding-right: 50px;
	width: 350px;
}

.butthorn{
	margin-top:25px;
	margin-left: 50px;
}

.sextarea{
	padding-left: 50px;
}

.robot-part-descriptor{
	margin:0;
}

h1 {
    font-size: 15px;
    font-weight: 700;
}

h2 {
    font-size: 13px;
    font-weight: 600;
}

a {
    color: inherit;
    font-weight: 650;
}

a:hover, a:active {
    font-weight: 800;
}

a:visited {
    color: #777;
}

.robot-cell, .tool-box-cell{
	width:70px;
	height:70px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	text-align: center;
	vertical-align: center;
}

img.robot-part{
	vertical-align: center;
}

#victory-screen
{
    text-align:center;
}
#instructions
{
    width:800px;
    text-indent:50px;
    margin-bottom:0 !important;
}
code{
     display: block;
     padding: 0.5em 1em;
     color: #000;
     line-height: 1.25;
     background: transparent;
     border: 1px solid #bebab0;
}
#usercode
{
    width:694px;
}
.gray_box, iframe
{
    margin-left:auto;
    margin-right:auto;
    margin-top:0.25cm;
    margin-bottom:0.25cm;
    padding:20px;
    background-color:#CFCFCF;
    border-radius:10px;
}
.gray_box h3
{
    text-align:center;
    padding-bottom:5px;
    padding-top:0px !important;
}

.gray_box > * 
{
    margin:auto;
}